<div class="skill-container">
  <div class="row">

    <div class="col-sm">

      <div class="skill-icon-container">
        <img [src]="this.championSkills.passive.skillImage"
             [alt]="this.championSkills.passive.skillName"
             [ngClass]="{'active-skill ': activeSkill === 'passive'}"
             (click)="changeActiveSkill('passive')"
        />

        <img [src]="this.championSkills.q.skillImage"
             [alt]="this.championSkills.q.skillName"
             [ngClass]="{'active-skill ': activeSkill === 'q'}"
             (click)="changeActiveSkill('q')"
        />

        <img [src]="this.championSkills.w.skillImage"
             [alt]="this.championSkills.w.skillName"
             [ngClass]="{'active-skill ': activeSkill === 'w'}"
             (click)="changeActiveSkill('w')"
        />

        <img [src]="this.championSkills.e.skillImage"
             [alt]="this.championSkills.e.skillName"
             [ngClass]="{'active-skill ': activeSkill === 'e'}"
             (click)="changeActiveSkill('e')"
        />

        <img [src]="this.championSkills.r.skillImage"
             [alt]="this.championSkills.r.skillName"
             [ngClass]="{'active-skill ': activeSkill === 'r'}"
             (click)="changeActiveSkill('r')"
        />
      </div>

      <div class="skill-text-container">
        <p class="skill-name">{{ this.championSkills[activeSkill].skillName }}</p>
        <p>{{ this.championSkills[activeSkill].skillDescription }}</p>
      </div>

    </div>

    <div class="col-sm skill-video-container">
      <img class="video-default-img" *ngIf="showDefaultImg" src="assets/img/no-video.png" [alt]="this.championSkills[activeSkill].skillName">

      <video *ngIf="activeSkill === 'passive' && !showDefaultImg" [autoplay]="true" [muted]="true" loop class="skill-video box">
        <source [src]="this.championSkills.passive.skillVideo" type="video/mp4">
      </video>

      <video *ngIf="activeSkill === 'q' && !showDefaultImg" [autoplay]="true" [muted]="true" loop class="skill-video box">
        <source [src]="this.championSkills.q.skillVideo" type="video/mp4">
      </video>

      <video *ngIf="activeSkill === 'w' && !showDefaultImg" [autoplay]="true" [muted]="true" loop class="skill-video box">
        <source [src]="this.championSkills.w.skillVideo" type="video/mp4">
      </video>

      <video *ngIf="activeSkill === 'e' && !showDefaultImg" [autoplay]="true" [muted]="true" loop class="skill-video box">
        <source [src]="this.championSkills.e.skillVideo" type="video/mp4">
      </video>

      <video *ngIf="activeSkill === 'r' && !showDefaultImg" [autoplay]="true" [muted]="true" loop class="skill-video box">
        <source [src]="this.championSkills.r.skillVideo" type="video/mp4">
      </video>
    </div>

  </div>
</div>
