@use "src/custom-theme" as *;



.skill-item-container {
  text-align: left;
  padding: 0;
}

.skill-container {
  margin-top: 3.5rem
}

.skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.skill-item {
  margin: 0 0 3rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  opacity: 0.3;
  transition: 0.4s ease-out;

  p {
    margin: 0 0 0 1rem;
  }

  .skill-name {
    text-align: left;
    min-width: 20%;
    color: $primary-gold-one;
  }

  .skill-description {
    letter-spacing: 2px;
    font-size: 0.9rem;
    color: $grey-one;
    text-align: left;
  }
}

.skill-item:hover {
  transform: translateY(-10px);
  transition: 0.4s ease-out;
}

.skill-item:hover ~ .skill-item{
  position: relative;
  transition: 0.4s ease-out;
}

.active-skill {
  opacity: 1;
  transform: translateY(-10px);
}

.skill-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-video-container video {
  width:70%;
  border: 3px solid $primary-gold-one;
}
