@use "src/custom-theme" as *;

.skill-container {
  height: 100%;
  min-height: 500px;
}

.skill-icon-container img {
  margin: 2rem;
  border: 2px solid $secondary-blue-two;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.skill-icon-container img:hover {
  border-color: $primary-gold-one;
  transform: translateY(-10px);
  transition: 0.4s ease-out;
}

.skill-icon-container img:hover ~ .skill-icon-container img{
  position: relative;
  transition: 0.4s ease-out;
}

.active-skill {
  border: 2px solid $primary-gold-one !important;
  transform: translateY(-10px);
  transition: 0.4s ease-out;
}

.skill-text-container {
  text-align: left;
  padding: 2rem;
  color: $primary-gold-one;
  font-size: 1rem;
  letter-spacing: 2px;
}

.skill-name {
  color: $secondary-blue-two;
  font-size: 1.5rem;
  padding: 0;
}

.skill-video-container, .skill-video {
  width: 70%;
}

.video-default-img {
  width: 70%;
}
