
.new-champion-container {
  width: 100%;
  min-height: 80vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.champion-form-container {
  width: 100%;
  max-width: 400px;
  height: auto;
}
