
.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
}


#myVideo {
  position: fixed;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}


.content {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 30rem;
  max-height: 40vh;
  right: 3%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  box-shadow: 0 0 20px 10px rgb(131, 112, 0);
  border-radius: 10px;
}

.login-title-container h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 2rem;
}
