<div class="rune-container container-fluid">

  <app-title-divisor *ngIf="!showSpinner" [title]="rune.runeName" [colorTitle]="setRuneColor(rune.runeName.toLowerCase())"></app-title-divisor>
  <app-gradient-spinner *ngIf="showSpinner"></app-gradient-spinner>

  <div *ngIf="!showSpinner" class="row rune-detail-container">

    <div class="row rune-info-row">
      <div class="col-sm">
        <img class="rune-image" [src]="rune.runeImage" [alt]="rune.runeName" [ngStyle]="{'border-color': setRuneColor(rune.runeName.toLowerCase())}"/>
        <p [ngStyle]="{'color': setRuneColor(rune.runeName.toLowerCase())}" class="rune-detail-slogan">{{ rune.runeSlogan }}</p>
        <p class="rune-detail-description">{{ rune.runeDescription}}</p>
      </div>
    </div>

    <div class="col-sm main-rune-container">
      <div [ngClass]="{'active-rune ': activeRune === 'main-one'}" class="main-rune-one" (click)="changeActiveMainRune('main-one')">
        <img [src]="rune.mainRune.firstRune.firstRuneImage" [alt]="rune.mainRune.firstRune.firstRuneName" />
        <p class="main-rune-name" [ngStyle]="{'color': setRuneColor(rune.runeName.toLowerCase())}">{{ rune.mainRune.firstRune.firstRuneName }}:</p>
        <p class="main-rune-description">{{ rune.mainRune.firstRune.firstRuneDescription }}</p>
      </div>

      <div [ngClass]="{'active-rune ': activeRune === 'main-two'}" class="main-rune-two" (click)="changeActiveMainRune('main-two')">
        <img [src]="rune.mainRune.secondRune.secondRuneImage" [alt]="rune.mainRune.secondRune.secondRuneName" />
        <p class="main-rune-name" [ngStyle]="{'color': setRuneColor(rune.runeName.toLowerCase())}">{{ rune.mainRune.secondRune.secondRuneName }}:</p>
        <p class="main-rune-description">{{ rune.mainRune.secondRune.secondRuneDescription }}</p>
      </div>

      <div [ngClass]="{'active-rune ': activeRune === 'main-three'}" class="main-rune-three" (click)="changeActiveMainRune('main-three')">
        <img [src]="rune.mainRune.thirdRune.thirdRuneImage" [alt]="rune.mainRune.thirdRune.thirdRuneName" />
        <p class="main-rune-name" [ngStyle]="{'color': setRuneColor(rune.runeName.toLowerCase())}">{{ rune.mainRune.thirdRune.thirdRuneName }}:</p>
        <p class="main-rune-description">{{ rune.mainRune.thirdRune.thirdRuneDescription}}</p>
      </div>
    </div>

    <div class="col-sm">
      <video *ngIf="activeRune === 'main-one'" [autoplay]="true" [muted]="true" loop [ngStyle]="{'border-color': setRuneColor(rune.runeName.toLowerCase())}" class="rune-video">
        <source [src]="runeDiretory+'/rune-one.mp4'" type="video/mp4">
      </video>

      <video *ngIf="activeRune === 'main-two'" [autoplay]="true" [muted]="true" loop [ngStyle]="{'border-color': setRuneColor(rune.runeName.toLowerCase())}" class="rune-video">
        <source [src]="runeDiretory+'/rune-two.mp4'" type="video/mp4">
      </video>

      <video *ngIf="activeRune === 'main-three'" [autoplay]="true" [muted]="true" loop [ngStyle]="{'border-color': setRuneColor(rune.runeName.toLowerCase())}" class="rune-video">
        <source [src]="runeDiretory+'/rune-three.mp4'" type="video/mp4">
      </video>
    </div>

    <div class="row sub-runes-container" [ngStyle]="{'border-color': setRuneColor(rune.runeName.toLowerCase())}">
      <div class="row">
        <div class="col-sm">
          <h2 [ngStyle]="{'color': setRuneColor(rune.runeName.toLowerCase())}">Runas inferiores</h2>
        </div>
      </div>

      <div class="col-sm sub-group-rune-container" [ngStyle]="{'border-color': setRuneColor(rune.runeName.toLowerCase())}">
        <h3 class="sub-runes-group-title">Primeiro grupo de runas inferiores</h3>
        <p class="sub-rune-title" [ngStyle]="{'color': setRuneColor(rune.runeName.toLowerCase())}">{{ rune.firstSlot.subRuneOne.runeName }}</p>
        <img [src]="rune.firstSlot.subRuneOne.runeImage" [alt]="rune.firstSlot.subRuneOne.runeName">
        <p class="sub-rune-description">{{ rune.firstSlot.subRuneOne.runeDescription}}</p>

        <p class="sub-rune-title" [ngStyle]="{'color': setRuneColor(rune.runeName.toLowerCase())}">{{ rune.firstSlot.subRuneTwo.runeName }}</p>
        <img [src]="rune.firstSlot.subRuneTwo.runeImage" [alt]="rune.firstSlot.subRuneTwo.runeName">
        <p class="sub-rune-description">{{ rune.firstSlot.subRuneTwo.runeDescription}}</p>

        <p class="sub-rune-title" [ngStyle]="{'color': setRuneColor(rune.runeName.toLowerCase())}">{{ rune.firstSlot.subRuneThree.runeName }}</p>
        <img [src]="rune.firstSlot.subRuneThree.runeImage" [alt]="rune.firstSlot.subRuneThree.runeName">
        <p class="sub-rune-description">{{ rune.firstSlot.subRuneThree.runeDescription}}</p>
      </div>


      <div class="col-sm sub-group-rune-container" [ngStyle]="{'border-color': setRuneColor(rune.runeName.toLowerCase())}">
        <h3 class="sub-runes-group-title">Segundo grupo de runas inferiores</h3>
        <p class="sub-rune-title" [ngStyle]="{'color': setRuneColor(rune.runeName.toLowerCase())}">{{ rune.secondSlot.subRuneOne.runeName }}</p>
        <img [src]="rune.secondSlot.subRuneOne.runeImage" [alt]="rune.secondSlot.subRuneOne.runeName">
        <p class="sub-rune-description">{{ rune.secondSlot.subRuneOne.runeDescription}}</p>

        <p class="sub-rune-title" [ngStyle]="{'color': setRuneColor(rune.runeName.toLowerCase())}">{{ rune.secondSlot.subRuneTwo.runeName }}</p>
        <img [src]="rune.secondSlot.subRuneTwo.runeImage" [alt]="rune.secondSlot.subRuneTwo.runeName">
        <p class="sub-rune-description">{{ rune.secondSlot.subRuneTwo.runeDescription}}</p>

        <p class="sub-rune-title" [ngStyle]="{'color': setRuneColor(rune.runeName.toLowerCase())}">{{ rune.secondSlot.subRuneThree.runeName }}</p>
        <img [src]="rune.secondSlot.subRuneThree.runeImage" [alt]="rune.secondSlot.subRuneThree.runeName">
        <p class="sub-rune-description">{{ rune.secondSlot.subRuneThree.runeDescription}}</p>
      </div>


      <div class="col-sm sub-group-rune-container" [ngStyle]="{'border-color': setRuneColor(rune.runeName.toLowerCase())}">
        <h3 class="sub-runes-group-title">Terceiro grupo de runas inferiores</h3>
        <p class="sub-rune-title" [ngStyle]="{'color': setRuneColor(rune.runeName.toLowerCase())}">{{ rune.thirdSlot.subRuneOne.runeName }}</p>
        <img [src]="rune.thirdSlot.subRuneOne.runeImage" [alt]="rune.thirdSlot.subRuneOne.runeName">
        <p class="sub-rune-description">{{ rune.thirdSlot.subRuneOne.runeDescription}}</p>

        <p class="sub-rune-title" [ngStyle]="{'color': setRuneColor(rune.runeName.toLowerCase())}">{{ rune.thirdSlot.subRuneTwo.runeName }}</p>
        <img [src]="rune.thirdSlot.subRuneTwo.runeImage" [alt]="rune.thirdSlot.subRuneTwo.runeName">
        <p class="sub-rune-description">{{ rune.thirdSlot.subRuneTwo.runeDescription}}</p>

        <p class="sub-rune-title" [ngStyle]="{'color': setRuneColor(rune.runeName.toLowerCase())}">{{ rune.thirdSlot.subRuneThree.runeName }}</p>
        <img [src]="rune.thirdSlot.subRuneThree.runeImage" [alt]="rune.thirdSlot.subRuneThree.runeName">
        <p class="sub-rune-description">{{ rune.thirdSlot.subRuneThree.runeDescription}}</p>
      </div>

    </div>

  </div>
</div>
