<div class="champion-skins-container">

    <div class="skins-gallery-container">

      <div class="skin-name-container">
        <p>{{ activeSkinName === 'default' ? championName : activeSkinName }}</p>
      </div>

      <div class="highlight-image">
        <img [src]="activeSkinUrl" [alt]="activeSkinName" loading="lazy" />
      </div>

      <div class="thumb-img">
        <img *ngFor="let skin of championSkins"
             [ngClass]="{'active-thumb': skin.skinUrl === activeSkinUrl}"
             [src]="skin.skinUrl"
             [alt]="skin.skinName"
             (click)="changeActiveSkin(skin.skinName, skin.skinUrl)"
             loading="lazy"
        />
      </div>

    </div>

</div>
