<div class="dashboard-container">
  <div class="main-screen-container">

    <div class="dashboard-title">
      <h1>Bem vindo invocador</h1>
    </div>

    <div class="dashboard-video-row">
      <video [autoplay]="true" [muted]="true" loop id="dashboard-video" class="box">
        <source src="./assets/videos/dashboard-screen.mp4" type="video/mp4">
      </video>
    </div>

    <div class="dashboard-description">
      <p>
        Com o LOL GUIDE você vai atingir seu potencial máximo no jogo,<br/>
        pois você vai adquirir conhecimento de todos os campeões, seus itens, runas e muito mais...
      </p>
    </div>

  </div>
</div>
