@use "src/custom-theme" as *;


.champions-container {
  min-height: 90vh;
  width: 100%;
  padding-top: 20px;
  background-color: $secondary-blue-dark;
}

.card-container {
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  height: auto;
  max-height: 280px;
  width: 100%;
  max-width: 350px;
  margin: 10px;
  transition: 0.4s ease-out;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  box-shadow: 0 0 6px $primary-gold-one;
  border-radius: 10px;
}

.card:hover {
  box-shadow: none;
  border: 3px solid $primary-gold-one;
  transform: translateY(-10px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  position: absolute;
  left: 20px;
  bottom: 0;
}

.card-thumbnail {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.card-thumbnail > img{
  height: 100%;
  max-height: 280px;
  width: 100%;
}
