$primary-gold-one: #C89B3C;
$primary-gold-two: #C8AA6E;
$primary-gold-three: #F0E6D2;
$primary-gold-dark: #463714;


$secondary-blue-one: #CDFAFA;
$secondary-blue-two: #0397AB;
$secondary-blue-three: #005A82;
$secondary-blue-dark: #091428;


$grey-one: #A09B8C;
$grey-two: #5B5A56;
$grey-three: #3C3C41;
$grey-three: #3C3C41;
$grey-dark: #1E2328;


$hextech-dark: #010A13;


$primary-warn: #8c8100;
$primary-danger: #8a0000;

$transparent-dark-background: rgba(0, 0, 0, 0.6);



