/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


/*START CHANGE DEFAULT BOOTSTRAP STYLES*/

button:focus,
button:active,
button:hover,
button:target,
input:focus,
input:active,
input:hover,
input:target,
textarea:focus,
textarea:active,
textarea:hover,
textarea:target,{
  outline: 0;
  -webkit-appearance: none;
  box-shadow: none !important;
}

/*END CHANGE DEFAULT BOOTSTRAP STYLES*/

/*--------------------------------------------------------------------------------------------------*/

/*START GLOBAL APP FONT STYLES*/
p, h1, h2, h3, h4, h5, h6, label, button, span, a, small, ul, table .btn {
  font-family: 'frizzQuadrata', Fallback, sans-serif;
}

::placeholder {
  font-family: 'frizzQuadrata', Fallback, sans-serif;
}

@font-face {
  font-family: 'frizzQuadrata';
  src: url('./assets/fonts/friz-font.otf') format('opentype');
}
/*END GLOBAL APP FONT STYLES*/

/*--------------------------------------------------------------------------------------------------*/
